#HW1 Notebook Part

Remember to mount your Google Drive.

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#go to your google drive folder tree on the left panel, and right click a folder to copy its path
#change folder location to what you copied
%cd /content/drive/MyDrive/

/content/drive/MyDrive

In [4]:
#run this to list the files in the folder. Confirm if "chinook.db" appears here.
# !wget --header="Host: inst-fs-iad-prod.inscloudgate.net" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://umd.instructure.com/courses/1328915/files/69399475?module_item_id=11612313" --header="Cookie: inst-fs-session=eyJpZGVudGl0aWVzIjp7fX0=; inst-fs-session.sig=3ZqJmwkHo13Qjjr0agsucLGpvU0" --header="Connection: keep-alive" "https://inst-fs-iad-prod.inscloudgate.net/files/70f3210b-e4dc-4b59-bb74-d0555a81645d/SDM_python_db_demo_22.ipynb?download=1&token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpYXQiOjE2NjMzNTI0MTcsInVzZXJfaWQiOiIxMTMzMDAwMDAwNDQ4NjgwNyIsInJlc291cmNlIjoiL2ZpbGVzLzcwZjMyMTBiLWU0ZGMtNGI1OS1iYjc0LWQwNTU1YTgxNjQ1ZC9TRE1fcHl0aG9uX2RiX2RlbW9fMjIuaXB5bmIiLCJqdGkiOiIwNGYzYTk5Yi1iYzkxLTQzZTEtYWZhZi04Zjk4M2MwYTUxYTMiLCJob3N0IjoidW1kLmluc3RydWN0dXJlLmNvbSIsIm9yaWdpbmFsX3VybCI6Imh0dHBzOi8vYTExMzMtNjkzOTk0NzUuY2x1c3RlcjQ3LmNhbnZhcy11c2VyLWNvbnRlbnQuY29tL2NvdXJzZXMvMTEzM34xMzI4OTE1L2ZpbGVzLzExMzN-NjkzOTk0NzUvY291cnNlJTIwZmlsZXMvU0RNX3B5dGhvbl9kYl9kZW1vXzIyLmlweW5iP2Rvd25sb2FkX2ZyZD0xXHUwMDI2bm9fY2FjaGU9dHJ1ZVx1MDAyNnJlZGlyZWN0PXRydWVcdTAwMjZzZl92ZXJpZmllcj1leUowZVhBaU9pSktWMVFpTENKaGJHY2lPaUpJVXpVeE1pSjkuZXlKMWMyVnlYMmxrSWpvaU1URXpNekF3TURBd01EUTBPRFk0TURjaUxDSnliMjkwWDJGalkyOTFiblJmYVdRaU9pSXhNVE16TURBd01EQXdNREE0TVRRMk5pSXNJbTloZFhSb1gyaHZjM1FpT2lKMWJXUXVhVzV6ZEhKMVkzUjFjbVV1WTI5dElpd2ljbVYwZFhKdVgzVnliQ0k2Ym5Wc2JDd2labUZzYkdKaFkydGZkWEpzSWpvaWFIUjBjSE02THk5MWJXUXVhVzV6ZEhKMVkzUjFjbVV1WTI5dEwyTnZkWEp6WlhNdk1UTXlPRGt4TlM5bWFXeGxjeTgyT1RNNU9UUTNOUzlrYjNkdWJHOWhaRDlrYjNkdWJHOWhaRjltY21ROU1WeDFNREF5Tm1aaGJHeGlZV05yWDNSelBURTJOak16TmpFME56a2lMQ0psZUhBaU9qRTJOak16TmpFM056bDkuSFVTbThHTnppMDVXX3BxUGo5NFNRWDlrZUk0d2VfSXZONmVlQldneE9yTElzWmIyT1dRQUZUSzFjMU5lcEc1ZW5sOC1Mb0tJY1BsdVpoa0ZRQjZvdmciLCJleHAiOjE2NjM0Mzg4MTd9.RnbYMjGJqtnVahsycu_U2md4yAMlJYoLyJtYOZrHfwY6myPr0lCRT_jynPEdYO_WnL82DqzoPtcOh246Btr9Bg" -c -O 'SDM_python_db_demo_22.ipynb' 
%ls

 chinook.db          HW1_SDM_python_db_22.ipynb    Untitled
'Colab Notebooks'/   SDM_python_db_demo_22.ipynb

**Run the following cells before "HW1 SQL Questions" to import needed libraries, connect to the database, and load the function needed for printing.**

In [5]:
import sqlite3
import pandas as pd
from tabulate import tabulate

In [6]:
#connect to the database
#make sure the file is at the same folder of your notebook, or you have used %cd to change your working directory
conn = sqlite3.connect('chinook.db')

In [7]:
def print_sql(result, cursor, display_all = False, rows_to_display = 10):
  
  '''
    Print function to display results from your query.
    No need to understand this function if you do not have much experience with Python.
    Just use it to print and look at the result.
  '''  

  print("Number of records: ", len(result))

  att_names = [description[0] for description in cursor.description]

  result_list = []
  for row in result:
      result_list.append(list(row))
  
  result_pd = pd.DataFrame(result_list, columns=att_names)

  #in practice, move condition earlier when generating list
  if not display_all:
      result_pd = result_pd.head(rows_to_display)
      print("Top %d rows: " % (rows_to_display))

  print(tabulate(result_pd,headers='keys',tablefmt='psql'))
  #more info: https://www.linkedin.com/pulse/pretty-displaying-tricks-columnar-data-python-aadarsh-vadakattu

  # return result_pd

In [27]:
#example query and printing

#replace the SQL code inside the triple-quotes with yours for Q1 and Q2
cursor = conn.execute(''' SELECT *
                          FROM customers''')

#get all results; this empties results in cursor
result = cursor.fetchall()

#print
print_sql(result, cursor)

Number of records:  59
Top 10 rows:
+----+--------------+-------------+-------------+--------------------------------------------------+--------------------------------------+---------------------+---------+----------------+--------------+--------------------+--------------------+--------------------------+----------------+
|    |   CustomerId | FirstName   | LastName    | Company                                          | Address                              | City                | State   | Country        | PostalCode   | Phone              | Fax                | Email                    |   SupportRepId |
|----+--------------+-------------+-------------+--------------------------------------------------+--------------------------------------+---------------------+---------+----------------+--------------+--------------------+--------------------+--------------------------+----------------|
|  0 |            1 | Luís        | Gonçalves   | Embraer - Empresa Brasileira de Aeronáutica S.A. | Av. Brigadeiro Faria Lima, 2170      | São José dos Campos | SP      | Brazil         | 12227-000    | +55 (12) 3923-5555 | +55 (12) 3923-5566 | luisg@embraer.com.br     |              3 |
|  1 |            2 | Leonie      | Köhler      |                                                  | Theodor-Heuss-Straße 34              | Stuttgart           |         | Germany        | 70174        | +49 0711 2842222   |                    | leonekohler@surfeu.de    |              5 |
|  2 |            3 | François    | Tremblay    |                                                  | 1498 rue Bélanger                    | Montréal            | QC      | Canada         | H2G 1A7      | +1 (514) 721-4711  |                    | ftremblay@gmail.com      |              3 |
|  3 |            4 | Bjørn       | Hansen      |                                                  | Ullevålsveien 14                     | Oslo                |         | Norway         | 0171         | +47 22 44 22 22    |                    | bjorn.hansen@yahoo.no    |              4 |
|  4 |            5 | František   | Wichterlová | JetBrains s.r.o.                                 | Klanova 9/506                        | Prague              |         | Czech Republic | 14700        | +420 2 4172 5555   | +420 2 4172 5555   | frantisekw@jetbrains.com |              4 |
|  5 |            6 | Helena      | Holý        |                                                  | Rilská 3174/6                        | Prague              |         | Czech Republic | 14300        | +420 2 4177 0449   |                    | hholy@gmail.com          |              5 |
|  6 |            7 | Astrid      | Gruber      |                                                  | Rotenturmstraße 4, 1010 Innere Stadt | Vienne              |         | Austria        | 1010         | +43 01 5134505     |                    | astrid.gruber@apple.at   |              5 |
|  7 |            8 | Daan        | Peeters     |                                                  | Grétrystraat 63                      | Brussels            |         | Belgium        | 1000         | +32 02 219 03 03   |                    | daan_peeters@apple.be    |              4 |
|  8 |            9 | Kara        | Nielsen     |                                                  | Sønder Boulevard 51                  | Copenhagen          |         | Denmark        | 1720         | +453 3331 9991     |                    | kara.nielsen@jubii.dk    |              4 |
|  9 |           10 | Eduardo     | Martins     | Woodstock Discos                                 | Rua Dr. Falcão Filho, 155            | São Paulo           | SP      | Brazil         | 01007-010    | +55 (11) 3033-5446 | +55 (11) 3033-4564 | eduardo@woodstock.com.br |              4 |
+----+--------------+-------------+-------------+--------------------------------------------------+--------------------------------------+---------------------+---------+----------------+--------------+--------------------+--------------------+--------------------------+----------------+

#HW1 SQL questions (pre-data-mining)

Write SQL queries to answer the following questions, and copy your results to your PDF submission (the number of records, and a screenshot of the returned table):

**Q1:** List the first and last names of employees who have supported customers with purchases that have a total greater than $25 ("Total" column in "invoices" table shows the total cost of a purchase).

**Hint:** Think about which tables are needed? What are the keys (attributes) needed to join the tables (think "join" as simply a "equivalence condition" that you put in the WHERE clause to filter results)? What are the attributes that you need as an output? What are the conditions?

**Check out the demo code we used in class or visit office hours if you have confusion.**

In [29]:
cursor = conn.execute(''' 

SELECT e.FirstName, e.LastName
FROM invoices i, employees e, customers c
WHERE i.CustomerId = c.CustomerId and c.SupportRepId = e.EmployeeId and i.total > 25


 ''')

result = cursor.fetchall()
print_sql(result, cursor)

Number of records:  1
Top 10 rows:
+----+-------------+------------+
|    | FirstName   | LastName   |
|----+-------------+------------|
|  0 | Steve       | Johnson    |
+----+-------------+------------+

**Q2:** List the names of all playlists that contain a track with a genre named "Jazz".

**Hint:** It is okay if you see duplicates of playlist names. The SQL code itself and the number of returned rows are sufficient for me to verify correctness.

In [38]:
#replace the SQL code inside the triple-quotes with yours
cursor = conn.execute(''' 
      SELECT p.Name
      FROM playlists p, playlist_track pt, tracks t, genres g
      WHERE p.PlaylistId = pt.PlaylistId and pt.TrackId = t.TrackId and t.GenreId = g.GenreId and g.Name = 'Jazz'
''')

result = cursor.fetchall()
print_sql(result, cursor)

Number of records:  286
Top 10 rows:
+----+--------+
|    | Name   |
|----+--------|
|  0 | Music  |
|  1 | Music  |
|  2 | Music  |
|  3 | Music  |
|  4 | Music  |
|  5 | Music  |
|  6 | Music  |
|  7 | Music  |
|  8 | Music  |
|  9 | Music  |
+----+--------+